* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dataTables_filter {
    display: none;
}

.dataTables_length{
    padding-top: 7px;
    padding-left:810px;
}

.header_title {
    padding: 0 0 0.6rem 0rem;
    background-color: rgb(66, 155, 228);
    color: white;
}
.header_title h4 {
    margin-top: 0.4rem;
}
.add_user {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px solid whitesmoke;
}
.add_user:hover {
    padding-right: 1.2rem;
    transition: 0.5s ease;
}
table th {
    color: #4d5563;
}

